.create {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  align-items: center;
  color: rgb(250, 221, 221);
  margin-bottom: 0;
}
.container {
  background-color: rgba(193, 142, 142, 0.608);
  display: flex;
  flex-direction: column;

  align-items: center;
  width: 80%;
  height: 80vh;
  margin: auto;
  border-radius: 20px;
  border: 3px solid black;
}
.form {
  margin-top: 20px;
  width: 100%;
  height: 90%;
}
.divImagen {
  width: 15em;
  background-color: red;
}
.divTeams {
  width: 15em;
  background-color: palegreen;
}
.divImageTeams {
  width: 100%;
  height: 200px;

  display: flex;
  justify-content: center;
  gap: 5rem;
}
.divName {
  width: 15em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.namesurname {
  display: flex;
  justify-content: center;
  gap: 5rem;
}
.natAndBirth {
  justify-content: center;
  gap: 5rem;
  display: flex;
}
.selectNat {
  background-color: rgb(200, 200, 200);
  width: 90%;
  height: 25px;
  border-radius: 3rem;
  border: 1px solid black;
}
.divDescription {
  display: flex;
  justify-content: center;
  align-items: center;
}
.labelDescription {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  height: 25px;
  width: 100%;
  padding-left: 3rem;
}
.description {
  width: 37rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pDescription {
  display: inline-block;
  margin: 0;
}
.label {
  padding-left: 20px;
  display: flex;
  justify-content: start;
  width: 100%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}
.input {
  background-color: rgb(200, 200, 200);
  border-radius: 3rem;
  height: 25px;
  width: 90%;
  border: 1px solid black;
}
.error {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-weight: 700;
  width: 100%;
  height: 30px;
  color: rgb(1, 0, 0);
}

.teams {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.team {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Courier New", Courier, monospace;

  margin: 2px;
  width: 100px;
  height: 40px;
  background-color: red;
}
.button {
  background-color: rgba(0, 0, 0, 0.496);
}
.submit {
  margin-top: 20px;
}
.teamSelection {
  background-color: black;
  width: 50%;
  height: 25px;
  border-radius: 10px;
  font-size: large;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: rgb(255, 255, 255);
}
.espacio {
  margin: 0;
}
.link {
  margin-top: 10px;
  text-decoration: none;
  color: red;
  background-color: rgb(0, 0, 0);
  width: 70px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  border: 2px solid rgba(255, 2, 2, 0.582);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  border-radius: 10px;
  transition: transform 0s;
}
.link:hover {
  transform: scale(1.1);
  background-color: red;
  color: white;
  border: 2px solid black;
}
